/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.background-left {
  position: relative;
}

.background-left::before {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
  content: '';
  background: #f2f2f2;
  width: 70%;
  height: 130%;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .background-left::before {
    display: none;
  }
}

.background-right {
  position: relative;
}

.background-right::before {
  position: absolute;
  top: -100px;
  right: 0;
  z-index: -1;
  content: '';
  background: #f2f2f2;
  width: 70%;
  height: 130%;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .background-right::before {
    display: none;
  }
}

.square {
  border-radius: 0 !important;
}
